<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../header.html' %}
</head>
<body>
    <div class="container-fluid ">
      <header class="masthead mb-auto">
        <div class="inner">
          <h1 class="masthead-brand">BAT888</h1>
          <nav class="nav nav-masthead justify-content-end">
            <h2>I ♥ Baseball</h2>
          </nav>
        </div>
      </header>
    <div class="row justify-content-center">
            
            
      <main role="main" class="inner cover"  style = 'margin-top: 100px;'>
          
          <h1> ★ 시즌 ALL STAR ★ </h1>
            
          
          <hr/>
          <form action="/hero/main_vis" method="get">
      
          <div class="form-inline">
              
            <img src='/static/img/allstar_final.png' width = '800px' height = '500px'/>
          </div>

          <div class='form-inline' style="margin-bottom:5px; margin-top:20px">
             
              <input style = "width:200px; height:50px; font-size:28px; margin-left:300px" type="submit" class="btn btn-danger" value="Go Back">
          </div>

          </form>
      </main>
  </div>   
</div> 


</body>
</html>



   





