<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../header.html' %}
</head>

<body>
    <div class="container-fluid ">
      
        <header class="masthead mb-auto">
            <div class="inner">
              <h1 class="masthead-brand">BAT888</h1>
              <nav class="nav nav-masthead justify-content-end">
                <h2>I ♥ Baseball</h2>
              </nav>
            </div>
          </header>
        
          <form action="/hero/main_vis" method="get">

        <div class="container" style = 'width:1200px; height:800px'>
            <div class= "container" style = 'width:1200px; height:350px'>
                <img src = '/static/img/slot.png' width = '600px' height = '500px' style = 'margin-top:350px;margin-right:400px'>
            </div>
            
            <div class= "container" style = 'width:600px; height:50px; margin-left:700px'>
                <div style =  'width:450px;height:50px'>
                    <a href="/hero/r_1" class="btn btn-light" style = 'width:450px;height:50px'>
                        <div style = 'font-size: 20px;'> 1. 타자의 지표와 득점수의 상관관계 </div>
                    </a>
                </div><br/><br/>

                <div style = 'width:450px;height:50px'>
                    <a href="/hero/r_2" class="btn btn-light" style = 'width:450px;height:50px'>
                        <div style = 'font-size: 20px;'> 2. 2019년 머신러닝 결과와 실제 득점수의 관계 </div>
                    </a>
                </div><br/><br/>
                
                <div style = 'width:450px;height:50px'>
                <a href="/hero/r_3" class="btn btn-light" style = 'width:450px;height:50px'>
                    <div style = 'font-size: 20px;'> 3. 학습정확도에 따른 머신러닝 정확도 </div>
                </a>
                </div><br/><br/>

                
                <div style = 'width:450px;height:50px'>
                    <a href="/hero/r_4" class="btn btn-light" style = 'width:450px;height:50px'>
                        <div style = 'font-size: 20px;'> 4. 팀별 정확도 </div>
                    </a>
                    </div><br/><br/>


                    <div style = 'width:450px;height:50px'>
                        <a href="/hero/r_6" class="btn btn-light" style = 'width:450px;height:50px'>
                            <div style = 'font-size: 20px;'> 5.회귀분석 종류에 따른 학습 정확도 비교 </div>
                        </a>
                        </div><br/><br/>


                
                <div style = 'width:450px;height:100px'>
                    <a href="/hero/r_5" class="btn btn-light" style = 'width:450px;height:100px'>
                        <div style = 'font-size: 20px;'> 6. 머신러닝 객체에 ALL STAR데이터 대입하여 득점수 예측 </div>
                    </a>
                    </div><br/><br/>


                    <div class='form-inline' style="margin-bottom:5px; margin-top:20px">
             
                        <input style = "width:200px; height:50px; font-size:28px;margin-left:130px" type="submit" class="btn btn-danger" value="Main으로">
                    </div>
            </div>



        </div>
</form>
</body>
</html>