<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '../header.html' %}
</head>
  <body>
    <div class="container-fluid ">

      <header class="masthead mb-auto">
        <div class="inner">
          <h1 class="masthead-brand">BAT888</h1>
          <nav class="nav nav-masthead justify-content-end">
            <h2>I ♥ Baseball</h2>
          </nav>
        </div>
      </header>
    


      <div class = "container">
        <img src = '/static/img/slot.png' width = '800px' height = '533px' style = 'margin-left:150px;margin-top:80px;border-radius:20px'><!-- 파일이름 main.jpg -->
      </div>

      <div class="row justify-content-center">
        <div class="cover-container">


          <main role="main" class="inner cover">
            <br /><br />
    
            <p style = "font-size: 21px">당신이 응원하는 팀의 내년 총 득점수가 궁금하신가요? </p> 
            <p style = "font-size: 21px; margin-left:100px">지금 바로 투자하세요!</p>
            

            <p class="lead">
              <br>
              <a href="/hero/main_pct" class="btn btn-lg btn-secondary" style = 'margin-left:130px; margin-bottom:20px;'>내년 총 득점수 확인</a>
              <a href="/hero/main_allstar" class="btn btn-lg btn-secondary" style = 'margin-left:130px'>시즌 ALL STAR 확인</a>
              
            </p>
          </main>

          <footer class="mastfoot mt-auto">
            <div class="inner">
              
            </div>
          </footer>
        </div>
      </div>
  </div>
</body>
</html>
